---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';

import CallToAction from '~/components/widgets/CallToAction.astro';
import Features from "../components/widgets/Features.astro";
import Features2 from "../components/widgets/Features2.astro";

const metadata = {
  title: 'A wie Awareness',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: '<nobr>Kontakt</nobr>', href: '/kontakt#kontaktmoeglichkeiten', icon: 'tabler:message' },
    ]}
    image={{ src: '~/assets/images/polyamorie-karlsruhe.webp', alt: 'Polyamorie Karlsruhe Image' }}
  >
    <Fragment slot="title">
      Herzlich willkommen bei <br/><span class="text-accent highlight">A wie Awareness</span>
    </Fragment>

    <Fragment slot="subtitle">
      Hier findest du Informationen zum Thema Awareness auf  Veranstaltung sowie Beratungs- und Workshopangebote zu diesem Thema.
    </Fragment>
  </Hero>
   <Features2
    title=""
    columns={4}
    items={[
      {
        title: 'A wie Awareness',
        icon: 'tabler:letter-a',
      },
      {
        title: 'B wie Bedürfnisse',
        icon: 'tabler:letter-b',
      },
      {
        title: 'C wie Consent',
        icon: 'tabler:letter-c',
      },      
      {
        title: 'D wie Definitionsmacht',
        icon: 'tabler:letter-d',
      },
    ]}
  />
  
<Features
  columns={3}
  items={[
    {
      icon: 'tabler:heart',
      title: 'Praktische und theoretische Erfahrung',
      description: 'Mit mehrjähriger Erfahrung können wir deine Veranstaltung "aware" machen, egal ob Konzert, Konferenz oder Festival.',
    },
    {
      icon: 'tabler:users',
      title: 'Vielseitige Eventformate',
      description: 'Ob U18-Gäste, sexpositive Veranstaltungen, mit politischem Hintergrund oder ohne, tagsüber oder nachts – wir haben die Expertise.',
    },
    {
      icon: 'tabler:shield-check',
      title: 'Professionelle Unterstützung',
      description: 'Wir unterstützen dich bei der Planung und Durchführung deines Events diskriminierungssensibel, queerfreundlich, antirassistisch, inklusiv und homophil.',
    },
  ]}
/>
  
  <CallToAction
    title="Nimm Kontakt mit uns auf"
    actions={[
      
      {
        variant: 'primary',
        text: 'Kontakt',
        href: '/kontakt#form',
        target: '_self',
        icon: 'tabler:message',
      },
      {
        variant: 'secondary',
        text: 'E-Mail',
        href: 'mailto:A-wie-Awareness@proton.me',
        target: '_self',
        icon: 'tabler:at',
      },
    ]}
  >
  </CallToAction>
</Layout>
